@use "sass:color";
@use "../styles/vars";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: vars.$color-text;
  background-color: vars.$color-background;
  padding: 1rem;
  width: vars.$popup-width;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  h1 {
    font-size: 1.4em;
  }
}

.header-icons {
  display: flex;
  gap: 1em;
}

hr {
  margin: 0.5em 0;
}

ul {
  list-style-type: none;
}

.icon {
  cursor: pointer;

  &-disabled {
    pointer-events: none;
    filter: brightness(50%);
  }

  &-title {
    font-size: 1.5em;
  }

  &::before {
    @include vars.icon-animation;
  }

  &:hover::before {
    transform: scale(120%);
  }

  &-settings:hover::before {
    transform: rotate(40deg);
  }
}

.tab-group {
  font-weight: bold;
  width: calc(vars.$popup-width - 2rem);

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &-shown {
    &::before {
      content: "▼";
      margin-right: 0.25em;
    }
  }

  &-hidden {
    &::before {
      content: "►";
      margin-right: 0.25em;
    }
  }

  &-title {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    &-text {
      width: calc(vars.$popup-width - 2rem - 8em);
      @include vars.hidden-text;

      &-active {
        cursor: pointer;
      }
    }

    &-icons {
      display: flex;
      gap: 0.5em;
    }
  }

  &-tabs {
    width: calc(vars.$popup-width - 2rem - 1.3em);
    font-weight: normal;
    padding-left: 1.3em;

    &-tab {
      margin: 0.5em 0;
      display: flex;
      align-items: center;

      &-visible {
        cursor: pointer;
      }

      &-favicon {
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
      }

      &-title {
        display: inline-block;
        width: calc(100% - 2em);
        @include vars.hidden-text;

        &-current {
          color: color.adjust(vars.$color-text, $lightness: -20%);
        }
      }
    }
  }
}
