@use "../styles/vars";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: vars.$color-text;
  background-color: vars.$color-background;
  padding: 1rem;
  width: vars.$popup-width;
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 1em;

  h1 {
    font-size: 1.4em;
  }
}

hr {
  margin: 0.5em 0;
}

ul {
  list-style-type: none;
}

.icon-settings {
  cursor: pointer;
  @include vars.icon-animation;

  &:hover {
    transform: rotate(40deg);
  }
}

.tab-group {
  font-weight: bold;
  width: calc(vars.$popup-width - 2rem);

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &-shown {
    &::before {
      content: "▼";
      margin-right: 0.25em;
    }
  }

  &-hidden {
    &::before {
      content: "►";
      margin-right: 0.25em;
    }
  }

  &-title {
    width: calc(100% - 2em);
    display: inline-flex;
    justify-content: space-between;

    &-text {
      cursor: pointer;
      width: calc(vars.$popup-width - 2rem - 6em);
      @include vars.hidden-text;
    }

    &-icon {
      &-disabled {
        pointer-events: none;
        filter: brightness(50%);
      }

      &-showhide {
        cursor: pointer;
        @include vars.icon-animation;

        &:hover {
          transform: scale(120%);
        }
      }
    }
  }

  &-tab {
    width: calc(vars.$popup-width - 2rem - 1.3em);
    font-weight: normal;
    padding-left: 1.3em;
  }
}
