@use "sass:color";
@use "../styles/vars";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: vars.$color-text;
  background-color: vars.$color-background;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

main {
  margin: 0 auto;
  padding: 2em;
  max-width: 720px;
}

.options {
  list-style-type: none;

  & > li {
    font-size: 1.5em;
    padding-left: 1em;
    margin: 1em 0;

    & > form {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin: 1em 0 1em 0;
      font-size: 1rem;

      & input {
        margin-right: 0.5em;
      }
    }
  }

  &-label {
    display: inline;
    position: relative;

    &-subtext {
      color: color.adjust(vars.$color-text, $lightness: -50%);
    }

    &-subradio {
      margin-left: 2em;
    }

    &-subcheckbox {
      margin-left: 1em;
      font-size: 0.8em;
    }

    &-link {
      text-decoration: none;
      color: color.adjust(vars.$color-text, $lightness: -30%);

      &:hover {
        color: color.adjust(vars.$color-text, $lightness: -20%);
      }
    }
  }

  &-checkbox {
    position: absolute;
    left: -2.5em;
    bottom: 0.3em;
    height: 1.5em;
    width: 1.5em;
  }
}
