$color-background: #3e3e3e;
$color-text: #ffffff;

$popup-width: 30rem;

@mixin hidden-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin icon-animation {
  transition: transform 0.5s ease-in-out;
}

@mixin disabled {
  filter: brightness(50%);
}
